In [27]:
import pandas as pd
import numpy as np
from data_load import load_hotel_reviews

data = load_hotel_reviews()
data.head()
data=data.to_numpy()

   S.No.                                             Review  Rating
0      1  nice hotel expensive parking got good deal sta...       4
1      2  ok nothing special charge diamond member hilto...       2
2      3  nice rooms not 4* experience hotel monaco seat...       3
3      4  unique \tgreat stay \twonderful time hotel mon...       5
4      5  great stay great stay \twent seahawk game awes...       5